
<div data-aos="zoom-in-down">
    <app-slide></app-slide>
</div>
<div data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
    <a href=""><img src="./assets/img/banner6.webp" alt="" width="100%"></a>
</div>
<div data-aos="fade-right"
    data-aos-offset="1200"
    data-aos-easing="ease-in-sine">
    <a href=""><img src="./assets/img/banner5.webp" alt="" width="100%"></a>
</div>
<div data-aos="fade-left"
    data-aos-offset="1800"
    data-aos-easing="ease-in-sine">
    <a href=""><img src="./assets/img/banner7.webp" alt="" width="100%"></a>
</div>
<div data-aos="fade-right"
    data-aos-offset="2400"
    data-aos-easing="ease-in-sine">
    <a href=""><img src="./assets/img/banner8.webp" alt="" width="100%"></a>
</div>

