<div class="row container">
  <div class="col-12 col-md">
    <img src="./assets/img/logo_mobile.png" alt="" width="20" height="20">
    <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
  </div>
  <div class="col-6 col-md">
    <h5>Dịch vụ</h5>
    <ul class="list-unstyled text-small">
      <li><a class="link-secondary" href="#">Chất lượng phục vụ</a></li>
      <li><a class="link-secondary" href="#">Chính sách đổi trả</a></li>
      <li><a class="link-secondary" href="#">Hướng dẫn mua online</a></li>
      <li><a class="link-secondary" href="#">Chính sách bảo hành</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h5>Chương trình</h5>
    <ul class="list-unstyled text-small">
      <li><a class="link-secondary" href="#">Giới thiệu công ty (MWG.vn)</a></li>
      <li><a class="link-secondary" href="#">Cộng tác bán hàng cùng HPhone</a></li>
      <li><a class="link-secondary" href="#">Tìm hiểu về mua trả góp</a></li>
      <li><a class="link-secondary" href="#">Tuyển dụng</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h5>Tổng đài hỗ trợ</h5>
    <ul class="list-unstyled text-small">
      <li>Gọi mua: 1800.1060 (7:30 - 22:00)</li>
      <li>Kỹ thuật: 1800.1763 (7:30 - 22:00)</li>
      <li>Khiếu nại: 1800.1062 (8:00 - 21:30)</li>
      <li>Bảo hành: 1800.1064 (8:00 - 21:00)</li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h5>Địa chỉ</h5>
    <ul class="list-unstyled text-small">
      <li><a class="link-secondary" href="#">102 Phạm Văn Đồng, P, Cầu Giấy, Hà Nội</a></li>
      <li><a class="link-secondary" href="#">1 Phạm Văn Đồng, Mai Dịch, Cầu Giấy, Hà Nội</a></li>
      <li><a class="link-secondary" href="#">351 Đ. Cầu Giấy, P, Cầu Giấy, Hà Nội 10000</a></li>
      <li><a class="link-secondary" href="#">05 Đ. Hồ Tùng Mậu, Mai Dịch, Cầu Giấy, Hà Nội 10000</a></li>
    </ul>
  </div>
</div>
