<h1 class="fw-bold text-center pt-4">PHỤ KIỆN</h1>
<ul class="list-group text-white">
    <li class="list-group-item d-flex justify-content-between align-content-center">
        <div class="d-flex flex-row"><i class="fas fa-battery-bolt"></i>
            <div class="ml-2">
                <h6 class="mb-0">Sạc cáp - Sạc dự phòng</h6>
                <div class="about"> <span>22 Sản phẩm</span> <span>17-03-2022</span> </div>
            </div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-content-center">
        <div class="d-flex flex-row"><i class="fab fa-usb"></i>
            <div class="ml-2">
                <h6 class="mb-0">USB</h6>
                <div class="about"> <span>62 Sản phẩm</span> <span>17-03-2022</span> </div>
            </div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-content-center">
        <div class="d-flex flex-row"><i class="fas fa-headphones"></i>
            <div class="ml-2">
                <h6 class="mb-0">Tai nghe</h6>
                <div class="about"> <span>82 Sản phẩm</span> <span>17-03-2022</span> </div>
            </div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-content-center">
        <div class="d-flex flex-row"><i class="fas fa-sd-card"></i>
            <div class="ml-2">
                <h6 class="mb-0">Thẻ nhớ</h6>
                <div class="about"> <span>182 Sản phẩm</span> <span>17-03-2022</span> </div>
            </div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-content-center">
        <div class="d-flex flex-row"><i class="fas fa-mobile"></i>
            <div class="ml-2">
                <h6 class="mb-0">Bao da ốp lưng</h6>
                <div class="about"> <span>802 Sản phẩm</span> <span>17-03-2022</span> </div>
            </div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-content-center">
        <div class="d-flex flex-row"><i class="fas fa-mobile-android-alt"></i>
            <div class="ml-2">
                <h6 class="mb-0">Miếng dán màn hình</h6>
                <div class="about"> <span>802 Sản phẩm</span> <span>17-03-2022</span> </div>
            </div>
        </div>
    </li>
</ul>
